<!-- 
<mat-toolbar color="primary" class="top-bar">
    <mat-form-field class="search-bar" appearance="outline">
    <mat-label>Search Blogs</mat-label>
    <input matInput placeholder="Type to search..." [(ngModel)]="searchTerm" (input)="filterPosts()" />
    <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>



<div class="container">
  <div class="video-grid">
    <mat-card *ngFor="let post of blogPosts" class="video-card">
      <img mat-card-image [src]="post.image" alt="Thumbnail" />
      <mat-card-content>
        <h3 class="video-title">{{ post.title }}</h3>
        <p class="video-channel">{{ post.channel }}</p>
        <p class="video-stats">{{ post.views }} views • {{ post.date }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
 -->

 

 <router-outlet></router-outlet>